<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Stanford University</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
</head>
<style>
.glyphicon-user {
          float:right;
		  } 
</style>
<body "margin-top=-300px">
 <ul class="nav nav-pills pull-right">

            <li ><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</li>
             <li ><a href="/logout/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></li>
		  </ul>


      
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        
      </tr>
    </thead>

    <tbody>

{% for d in list %}	
 
<tr class="success">
<td><a href="/details/{{d.id}}">{{d.name}}</a></td><br>
<td>{{d.city}}</td><br>
<td><a href='/delete/{{d.id}}/'> Delete</a> <br /> 
<td><a href='/form_edit/{{d.id}}/'> Edit</a> <br /> 
</tr>


{%endfor%}
</table>
<a href="/logout/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>

        
      
<!--<h1><a href="/logout/">Logout</a></h1>-->
<!--<a href="/form/">back</a>-->
<a  href="/form/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-fast-backward"></span>Back
        </a>
</body>
</html>